.settingsWrap {
  padding: 1rem;
  background-color: rgba(200, 220, 237, 0.5);
  border-radius: 6px;
  margin-top: 4px;
  position: relative;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
}