.status {
  border-radius: 99999px;
  min-width: 10px;
  min-height: 10px;
  display: inline-block;
}

.online {
  background-color: lightgreen;
}

.offline {
  background-color: red;
}

.text {
  margin-left: 5px;
  font-size: 11px;
  display: inline-block;
  overflow: hidden;
  width: 0;
}

.animate {
  animation: quickReveal 2s ease-in-out;
}

@keyframes quickReveal {
  0% {
    width: 0;
  }
  20%,75% {
    width: 40px;
  }
  100% {
    width: 0;
  }
}