.check {
  display: flex;
  align-items: center;
  justify-content: center ;
  padding-left: 0;
  height: 100%;
}
.check input[type=checkbox] {
  border-radius: .25em;
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
  float: none;
}

.control {
  border: none;
  background: transparent;
  font-size: var(--bs-body-font-size);
}

.grip {
  min-width: 25px;
}
.grip i {
  font-size: 1.2rem;
}

.grip:hover {
  cursor: grab;
}
.grip:active {
  cursor: grabbing;
}

.remove i {
  font-size: var(--bs-body-font-size);
}