/*
borrowed from https://mui.com/components/snackbars/
*/

.snackWrap {
  position: fixed;
  left: 8px;
  right: 8px;
  bottom: 8px;
  z-index: 1400;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.snackInner {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 6px 10px 0px,
    rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 6px 16px;
  border-radius: 4px;
  flex-grow: 1;
}

.actionWrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 16px;
  margin-right: -8px;
}

.action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 4px 5px;
  border-radius: 4px;
  color: var(--bs-warning);
}

.close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: inherit;
  padding: 5px;
  font-size: 1.125rem;
}
