:root {
  --bs-body-font-size: 0.9rem;
  --link-color: initial;
}

/* Dark Mode styles */
body.dark-theme {
  --bs-body-color: #eee;
  --bs-body-bg: #121212;
  --link-color: #809fff;
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode styles */
  body {
    --bs-body-color: #eee;
    --bs-body-bg: #121212;
    --link-color: #809fff;
  }

  body.light-theme {
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --link-color: initial;
  }
}

body a {
  color: var(--link-color);
}

body .form-control {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}
